@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,400;1,600&display=swap');

:root {
    --violetColor: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);
    --lightvioletColor: hsl(257, 40%, 55%);


    --paragraphText: 'Open Sans', sans-serif;
    --headingText: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    margin: auto;
    background-color: var(--violetColor);
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1px 1em 1px;
}

header {
    width: 120px;
    margin: 2em 0;
}

header img {
    width: 100%;
}

.image {
    max-width: 80%;
    height: 100%;
    overflow: hidden;
    margin: 3em auto;
}

.image img {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: var(--headingText);
    font-size: 25px;
}



article {
    text-align: center;
    color: white;
    font-family: var(--paragraphText);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 4em;
}

p {
    opacity: 0.9;
}

button {
    width: 200px;
    padding: 1em;
    border-radius: 5em;
    border: 0;
    color: var(--lightvioletColor);
    font-weight: bold;
    margin: 1em auto 5em;
}

button:hover {
    color: white;
    background-color: var(--softMagenta);
}

.footer {
    display: flex;
    justify-content: center;
    margin: 0 0 3em;
}

.footer a {
    width: 30px;
    height: 30px;
    font-size: 13px;
    border: solid white 1px;
    border-radius: 50%;
    margin: 0 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer a:hover{
    color: var(--softMagenta);
    border: solid 1px var(--softMagenta);
}

footer {
    text-align: center;
    margin: 1em 0;
    color: rgba(255, 252, 252, 0.7);
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


footer a:hover {
    font-weight: bold;
    color: var(--softMagenta);
}

@media only screen and (min-width: 764px) {
    main {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section {
        max-width: 1000px;
        margin: 1em;
        background-image: url("../images/bg-desktop.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .image {
        width: 60%;
        margin: 1em 0;
    }

    article {
        text-align: left;
        width: 40%;
        margin: 0 1em;
        padding: 0;
    }

    h1 span {
        display: block;
        line-height: 1;
    }
    p {
        font-size: 14px;
        padding: 0;
    }

    button {
        margin: 0;
        padding: 1em;
        width: 150px;
    }

    .footer {
        margin: 0 0 1em;
        justify-content: flex-end;
    }

    footer {
        margin: 0;
    }
}